{% extends "layout.twig" %}

{% block body %}

<div class="container d-flex min-vh-100 justify-content-center align-items-center">
    <h1>{{ data[0] }} <i class="bi bi-globe"></i>{{ data[1] }}</h1>
</div>

{% endblock %}